<div class="d-flex justify-content-between align-items-start border-bottom">
    <h2 class="d-flex">
        <div class="aside__back-button">
            <i class="fas fa-angle-left" style="cursor: pointer;"></i> 
        </div>
        <div class="px-2">
            Perfil
        </div>
    </h2>
    <div class="aside__close-button" style="cursor: pointer;">
        <i class="fas fa-times fa-lg"></i>
    </div>
</div>

<div id="aside__body" class="aside__body">
    <div class="d-flex justify-content-center align-items-center mt-4">
        <div id="aside__icon-profile" class="aside__icon-profile">
            <div id="aside__icon-profile--hover" class="aside__icon-profile--hover">
                <i class="fas fa-pen"></i>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <div id="warning-response"></div>
        <form id="edit-profile-form" action="{{ path('edit-profile-info', {'admin': app.user.id}) }}" method="post">
            <input type="text" name="name" id="" class="form-control" placeholder="Nombre" value="{{ app.user.name }}">
            <input type="text" name="firstname" id="" class="form-control" placeholder="Apellido" value="{{ app.user.firstname }}">
            <p style="font-size: 0.9em;"><span style="font-weight: 600;">Email:</span> {{ app.user.email }}</p>
            <p style="font-size: 0.9em;"><span style="font-weight: 600;">Fecha de registro:</span> {{ app.user.creationDate | date('d/m/Y') }}</p>
            <input type="submit" value="Guardar" id="" class="btn btn-dark">
        </form>

        <form id="edit-picture-form" action="{{ path('edit-profile-picture', {'admin': app.user.id}) }}" method="post" enctype="multipart/form-data">
            <input type="file" name="image" id="edit-picture-form__file-input" class="d-none">
        </form>
    </div>
</div>